STATE=local
VERSION=0.0.1
APP_ID=36
APP_NAME=procurement
APP_ENV=http://localhost:8080/procurement
APP_JS=http://localhost:8080/procurement/assets/dist/js
APP_CSS=http://localhost:8080/procurement/assets/dist/css
APP_IMG=http://localhost:8080/procurement/assets/images

#External Links
APP_HOST=http://localhost:8080
APP_API=http://localhost:3001
APP_CDN=https://amecwebtest.mitsubishielevatorasia.co.th/cdn

APP_ICON=preloader.gif
PRELOADER=preloader.gif
TIMEOUT=30

#Setting Exception handler
APP_ERR_DSP=true
APP_ERR_EXCEPTION=false
APP_ERR_MAIL=false

#Setting Email
MAIL_ADMIN='chalorms@MitsubishiElevatorAsia.co.th'
MAIL_FROM='noreply@MitsubishiElevatorAsia.co.th'

FILE_TEMPLATE=//amecnas/amecweb/file/development/procurement/template/
FILE_ATTACH=//amecnas/AMECWEB/File/development/procurement/