.DS_Store
.env
.env.development
.env.production
.env.backup
/node_modules
assets/dist
application/cache
application/logs
application/vendor

docs/dist
docs/.vitepress/cache
backup

package-lock.json
application/composer.lock
db.json