@import "tailwindcss";
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
}

@source "../../application/views/**/*.php";
@source "../style/**/*.css";
@source "../script/**/*.js";
@source "../../.env";
@source "../../node_modules/@amec/webasset/src/**/*.js";

@font-face {
	font-family: "LINE Seed EN";
	src:
		url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff2") format("woff2"),
		url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed EN Bold";
	src:
		url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff2") format("woff2"),
		url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff") format("woff");
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: "LINE Seed TH";
	src:
		url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff2") format("woff2"),
		url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed TH Bold";
	src:
		url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff2") format("woff2"),
		url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed JP";
	src:
		url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff2") format("woff2"),
		url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed JP Bold";
	src:
		url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff2") format("woff2"),
		url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@layer base {
	:root {
		--font-sans:
			"LINE Seed EN", "LINE Seed EN Bold", "LINE Seed TH",
			"LINE Seed TH Bold", "LINE Seed JP", "LINE Seed JP Bold", sans-serif;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	body {
		@apply font-sans;
	}

	.input,
	.select,
	.textarea,
	.file-input {
		&:focus,
		&:focus-within {
			outline-offset: 0px !important;
			outline: 1px solid var(--input-color) !important;
		}
	}

	.dark {
		--color-primary: 255, 0, 0;
		--color-secondary: 107, 114, 128;
		--color-accent: 232, 159, 2;
		--color-card: 0, 0, 0;
		--color-border: 216, 218, 223;
		--color-body: 229, 231, 235;
	}

	table > thead > tr > th {
		@apply text-center!;
	}
}
